.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logoContainer {
  pointer-events: auto !important;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}

.logo {
  object-fit: contain;
}

.nav {
  display: flex;
  gap: 2rem;
  background-color: #333333;
  padding: 1rem 2.5rem;
  border-radius: 100px;
  align-items: center;
}

.link {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease;
}

.link:hover {
  color: #e0655a;
}

.link.active {
  color: #e0655a; /* Active link color */
}

.flagContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.flagtext {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: auto;
}

.logoicon {
  display: flex;
  align-items: center;
}

.sidebarContent {
  padding: 20px;
  height: 100%;
  position: relative;
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.sidebarLink {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.sidebarLink:hover {
  color: #e22110;
}

.sidebarLink.active {
  color: #e22110; /* Active link color in sidebar */
}

/* .sidebarFlagContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 0;
} */

.mobileMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin-top: 19px;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 5%;
  position: relative;
  width: 30px;
  height: 30px;
}

.hamburgerIcon {
  display: block;
  width: 25px;
  height: 3px;
  background: #333;
  position: relative;
  transition: all 0.3s ease;
  right: 30px;
  top: 10px;  
}

.hamburgerIcon::before,
.hamburgerIcon::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #333;
  transition: all 0.3s ease;
}

.hamburgerIcon::before {
  top: -8px;
}

.hamburgerIcon::after {
  bottom: -8px;
}

.hamburger.open .hamburgerIcon {
  background: transparent;
}

.hamburger.open .hamburgerIcon::before {
  transform: rotate(45deg);
  top: 0;
}

.hamburger.open .hamburgerIcon::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: #333;
}

.closeButton:hover {
  color: #e0655a;
}

.langSelector {
  position: relative;
  display: inline-block;
}

.langSelector {
  position: relative;
  display: inline-block;
}

.langDropdown {
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
   z-index: 999;
  min-width: 120px;
  margin-top: 8px;
  padding: 4px 0; 
}

.langOption {
  padding: 10px 12px;
  font-size: 15px;
  font-weight: 500;
  color: #222;
  text-align: center;
  cursor: pointer;
}

.activeLang {
  
  font-weight: bold;
  color: #ec1717;
}

@media (max-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 1rem;
  }

  .rightSection {
    display: none;
  }

  .mobileMenu {
    display: flex;
  }

  .langDropdown {
    display: flex;
    flex-direction: column;
    display: flex;
    position: absolute;
    top: -50%; 
    left: 50%;
  }

  .langOption{
    text-align: left;
  }

  .langOption:hover {
    background-color: #ee2424;
  }
}

@media (min-width: 769px) {
  .mobileMenu {
    display: none;
  }
}